@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


body {
    width: 100vw;
    height: 100vh;
    font-family:"Merriweather",
        serif;
    background-color: #06042e;
    color: #fdffe0;
    user-select: none;


}
form {
    text-align: center;
    padding: 20px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

input[type="text"]{
    background-color: rgba($color: white, $alpha: .2);
    color: #fdffe0;
}


footer{
    color: #fdffe0;
    p a {
        color: #009dff;
        text-decoration: none;

        &:hover {
            color: #f2ff3f;
            text-decoration: underline;   
        }

    }
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    height: 100%;
    width: 100%;
    padding: 0px 20px 20px 20px;
    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 2.4fr 0.8fr 0.8fr;
    grid-template-rows: 0.9fr 1.1fr 0.8fr 1.2fr;
    gap: 0px 0px;
    grid-template-areas:
        "weather-content weather-content ."
        "weather-content weather-content ."
        ". weather-image weather-image"
        "weather-gif weather-image weather-image";     
}

.weather-image {
    justify-self: end;
    grid-area: weather-image;
    width: 100%;
    aspect-ratio: 4/3;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .weather-image-update{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}

.weather-content {
    grid-area: weather-content;
    // background-color: rosybrown;

    padding: 10px;

    display: flex;
    flex-direction: column;

    font-size: 1.2em;
    h1 {
            font-size: 3em;
            margin: 0;
            width: 100vw;
        }

    .left-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        padding: 15px;

        &:hover{
            cursor: pointer;
            background-color: rgba($color: white, $alpha: .1);
        }

        .left{
            flex: 1;
            border-right: 3px solid #fdffe0;
            height: 100%;
            display: flex;
            align-items: center;

            .temperature{
                font-size: 4em;
                font-weight: bold;
            }
        }

        .right{
            flex:1;
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            padding-left: 30px;

            .feels-like-edit{
            }
            *{
                width: 200px;
                text-align: start;
            }

        }
    }

}

.celsius-after::after {
    content: "°C";
    // color: red; 
    font-size: 0.5em;
    padding: 10px 10px 10px 0;
    vertical-align: super;
}

.fahrenheit-after::after {
    content: "°F";
    // color: blue; 
    font-size: 0.5em;
    padding: 10px 10px 10px 0;
    vertical-align: super;
}

.kph-after::after {
    content: " km/h";
}

.mph-after::after {
    content: " mph";
}

.weather-gif {
    grid-area: weather-gif;
    height: 200px;
    width: calc(200px * (4/3));

    img.giphy-img {
        height: 100%;
        width: 100%;
        object-fit: cover;   
    }
}

.error{
    border: red 2px solid;
    background-color: rgba($color: red, $alpha: .3);
}

.error-message {
    color: red;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}

.visible {
    display: block;
}