@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


body {
    width: 100vw;
    height: 100vh;
    font-family:"Merriweather",
        serif;
    background-color: #06042e;
    color: #fdffe0;


}
form {
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

input[type="text"]{
    background-color: rgba($color: white, $alpha: .2);
    color: #fdffe0;
}

footer p a {
    color: #009dff;
        text-decoration: none;
    &:hover {
        color: #f2ff3f;
        text-decoration: underline;
    }
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    height: 100%;
    width: 100%;
    padding: 0px 20px 20px 20px;

    display: grid;
    grid-template-columns: 1.7fr 0.3fr 0.2fr 1.8fr;
    grid-template-rows: 1fr 1fr 0.8fr 1.2fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
        "weather-content weather-content . ."
        "weather-content weather-content . weather-image"
        ". . . weather-image"
        "weather-gif . . .";
}

.weather-image {
    grid-area: weather-image;
    background-color: royalblue;
}

.weather-content {
    grid-area: weather-content;
    // background-color: rosybrown;

    padding: 20px;

    display: flex;
    flex-direction: column;

    font-size: 1.2em;
    h1 {
            font-size: 3em;
            margin: 0;
        }

    .left-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        .left{
            flex:1;
            border-right: 3px solid #fdffe0;
            .temperature{
                font-size: 5em;
                font-weight: bold;
                &::after{
                    content: "°C";
                    font-size: 0.5em;
                    padding: 10px 10px 10px 0;
                    vertical-align: super;

                }
            }
        }

        .right{
            flex:1;
            text-align: right;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 35px;
            .feels-like-edit{
                &::after{
                    content: "°C";
                    font-size: 0.5em;
                    padding: 10px 10px 10px 0;
                    vertical-align: super;
                }
            }

        }
    }

}

.weather-gif {
    grid-area: weather-gif;
    background-color: lightcoral;
}